.logo {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 179px;
  height: 36px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
